<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
				  var image_src = '../resources/img/helmet.jpg';
				  if(result_1[0]){
				    var image_src = result_1[0].img_src;
				  }
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id,
							 			but will display the player's name-->
                        <%
                        if (data) {
                            var player = '';
                            data.forEach(function(item){
                               player += '<option>'+ item.name + '</option>';
                             }); %>
                        <%- player %>
                        <% } %>
						</select>
					</form>
				  </div>
				</div>

			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td>
							<%
							var year = '';
							if(result_1[0]){
							year = result_1[0].year
							}%>
							<%-  year %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td>
							<%
                            var major = '';
                            if(result_1[0]){
                            major = result_1[0].major
                            }%>
                            <%-  major %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td>
                            <%
                            var count = '';
                            if(result_2[0].count >0){
                            count = result_2[0].count
                            }%>
                            <%-  count %></td>
						</tr>
						<tr>
							<td>Passing Yards:
							<%
							var p_yard = '';
							if(result_1[0]){
							p_yard = result_1[0].passing_yards
							}%>
							<%-  p_yard %></td>
							<td>Avg. Passing Yards:
							<%
							var ave_p_yard = '';
							if(result_1[0]){
							ave_p_yard = result_1[0].passing_yards/result_2[0].count
							}%>
							<%-  ave_p_yard %></td>
						</tr>
						<tr>
							<td>Rushing Yards:
							<%
							var r_yard = '';
							if(result_1[0]){
							r_yard = result_1[0].rushing_yards;
							}%>
							<%-  r_yard %></td>
							<td>Avg. Rushing Yards:
							<%
							var ave_r_yard = '';
							if(result_1[0]){
							ave_r_yard = result_1[0].rushing_yards/result_2[0].count
							}%>
							<%-  ave_r_yard %></td>
						</tr>
						<tr>
							<td>Receiving Yards:
							<%
							var rec_yard = '';
							if(result_1[0]){
							rec_yard = result_1[0].receiving_yards
							}%>
							<%-  rec_yard %></td>
							<td>Avg. Receiving Yards:
							<%
							var ave_rec_yard = '';
							if(result_1[0]){
							ave_rec_yard = result_1[0].receiving_yards/result_2[0].count
							}%>
							<%-  ave_rec_yard %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>